.orange {
  color: orange;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
 
}
.topBanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
 
       
}
.halfwidth{
    width: 80%;
    padding-left: 2%;
    
}
.halfwidth img{
    width: 80% ;
}
h1 {
    font-size: 50px;
    font-weight: 900;
}
.halfwidth a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 800;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}